## **1. 파이썬 컬렉션**
1. 컬렉션 타입 소개
2. 리스트

### <strong>1. 컬렉션 타입 소개</strong>
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [3]:
# [+] Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = ("박윤영","남","2001-05-14") # Tuple 예: 좌표
coordinate[0]  # 셀 마지막 문장 실행 결과는 print() 상관없이 출력

'박윤영'

In [ ]:
# [+] Tuple은 값 변경이 불가능하다(immutable).
...

In [ ]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = "Hyun Ahn"
name

In [ ]:
# [+] String도 역시 immutable
...

In [ ]:
# [+] List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ... # list 예: 개인정보
my_info_lst

In [ ]:
# [+] List는 값 변경(추가, 삭제, 수정)이 가능하다.
... # 수정
... # 추가
... # 삭제
my_info_lst

In [ ]:
# [+] Set 선언 방식: set(List 객체)
my_info_set = ...

In [ ]:
# [+] Set은 중복 허용하지 않고, 순서가 없다.
...
my_info_set

In [ ]:
# [+] Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}

hsu_dict = ...
hsu_dict

In [ ]:
# [+] Dictionary 값 추가
...
hsu_dict

### <strong>2. 리스트</strong>

In [ ]:
# [+] 리스트 선언
primes = ...
primes

In [ ]:
# 다양한 유형의 데이터 저장
mixed = ['Jenny', 1, 1.4, True]
mixed

In [1]:
# 다차원 리스트
list_of_lists = [['a', 1], ['b', 2]]
list_of_lists

[['a', 1], ['b', 2]]

In [ ]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']

print(names[0]) # first data
print(names[1])
print(names[2])
print(names[3])

In [ ]:
# Negative indexing
print(names[-1]) # last data
print(names[-2]) # second to last data
print(names[-3]) # third to last data
print(names[-4])

In [ ]:
# [+] 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = ... # [장공관, 필헌관, 소통관] 선택

In [ ]:
# [+] 슬라이스 값 수정
...
print(building_slice)
print(hsu_buildings)

In [ ]:
# 다차원 리스트
restaurants = [['해우리', '한식', '고S'], ['효자동설렁탕', '한식', '양곰탕'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]

restaurants

In [ ]:
# [+] 리스트 수정 
# 해우리의 대표 메뉴를 '고S'에서 '해우라면'으로 수정
restaurants[0][2] = ...
restaurants[0]

In [ ]:
# [+] 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = ...
total_items

#### <strong>리스트에서 제공하는 메소드들</strong>

In [ ]:
# [+] len()
knapsack = [2, 4, 3, 7, 10]
size = ...
size

In [ ]:
# [+] append()
orders = ['daisies', 'periwinkle']
...
orders

In [ ]:
# [+] insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
...
store_line

In [ ]:
# [+] sort()
numbers = [4, 2, 1, 3]
...
numbers

In [ ]:
# [+] sorted()
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
print(...)
print(hsu_buildings)